<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741987855781-cr3hd2207945l0mqkra37rfd8lkqqq9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741987855781-cr3hd2207945l0mqkra37rfd8lkqqq9n</string>
	<key>API_KEY</key>
	<string>AIzaSyDXAO9cN0-_MWhlhJ1VYiQrMzb6f61UVKo</string>
	<key>GCM_SENDER_ID</key>
	<string>741987855781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seunghun.firebase-applelogin</string>
	<key>PROJECT_ID</key>
	<string>fir-applelogin-b3580</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-applelogin-b3580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741987855781:ios:2b458ea429fae2721ecc4c</string>
</dict>
</plist>